@import "../../../../assets/scss/base/mixins";
@import "../../../../assets/scss/base/variables";

button {
  position: fixed;
  top: 129px;
  right: 40px;
  z-index: 999;

  @include tablet {
    position: fixed;
    top: 90px;
    right: 40px;
    z-index: 999;
  }
  
}
