
<section class="grupos header">
  <div class="grupos__grid contenedor">
    <div class="grupos__bloque">
      <h3 class="grupos__heading1 th">Drew-Maps</h3>
    </div>

    <div class="grupos__bloque ">
      <h3 class="grupos__heading2 th">Look for a location</h3>

    </div>
  </div>
</section>

<section>
  <div>
    <app-map-screen></app-map-screen>
  </div>
</section>

<section class="grupos footer">
  <div class="grupos__grid contenedor">
    <div class="grupos__bloque">
      <h3 class="grupos__heading1 tf">Designed and programmed at DrewHouse</h3>
    </div>

    <div class="grupos__bloque">
      <h3 class="grupos__heading2 tf">All rights reserved.</h3>

    </div>
  </div>
</section>